{% load static %}
<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/main.css' %}">
</head>

<body> 

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <!-- login or logout in nav logic-->
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register'%}">Register</a></li>
            {% endif %}
            
        </ul>
    </nav>
    <div>
        <!--Displaying any flash message -->
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor%}
        {% endif %}
         <!--Main info block -->
        {% block content%} {% endblock %}
    </div>
</body>
