{% extends "store/base.html" %}
{% block content %}
        <h2><a href="#">{{ object.name }} </a></h2>
        <div>
                {% if object.image1 %}
                        <img class="img-thumbnail" src={{ object.image1.url}} height=100>
                {% endif %}
                {% if object.image2 %}
                        <img class="img-thumbnail" src={{ object.image2.url}} height=100>
                {% endif %}
        </div>

        <h3>Rs. {{ object.cost}}</h3>
        <h5>{{ object.description}}</h3>
        <details>
                <summary>Info</summary>
                <p>
                        <h5>{{ object.age}} years old</h3>
                        <h5> Seller : {{ object.seller}}</h3>
                        <h5> Address : {{ object.address}}</h3>
                        <h5> Contact : {{ object.seller.email}}</h3>
                </p>
	</details>	
        <!--If seller is user he can update or delete the product-->
        {% if object.seller == user %}
                <a class="badge badge-warning" href="{% url 'product-update' object.id%}">Update</a>
                <a class="badge badge-danger" href="{% url 'product-delete' object.id%}">Delete</a>
        {% endif %}
        <!--If user isn't sellet then buy link should appear-->
        {% if object.seller != user %}
                <a class="badge badge-primary" href="{% url 'product-buy' object.id%}">Buy</a>
        {% endif %}
{% endblock content %}