{% extends "store/base.html" %}
{% block content %}
        <h2><a href="#"> Name : {{ object.name }} </a></h2>
        <h3> Seller : {{ object.seller}}</h3>
        <h3> description : {{ object.description}}</h3>
        <h3> age : {{ object.age}}</h3>
        <h3> cost : {{ object.cost}}</h3>
        <h3> address : {{ object.address}}</h3>
        <h3> email : {{ object.seller.email}}</h3>
        <div>
                <h3> images </h3>
                {% if object.image1 %}
                        <img src={{ object.image1.url}} height=100>
                {% endif %}
                {% if object.image2 %}
                        <img src={{ object.image2.url}} height=100>
                {% endif %}
        </div>
        <!--If seller is user he can update or delete the product-->
        {% if object.seller == user %}
                <a href="{% url 'product-update' object.id%}">Update ?</a>
                <a href="{% url 'product-delete' object.id%}">Delete ?</a>
        {% endif %}
        <!--If user isn't sellet then buy link should appear-->
        {% if object.seller != user %}
                <a href="{% url 'product-buy' object.id%}">Buy</a>
        {% endif %}
{% endblock content %}